body{
  margin:0;
  overflow:hidden;
  background:black;
  font-family:Arial;
}

canvas{
  display:block;
  background:
  radial-gradient(circle at center,#111,#000);
}

.hud{
  position:absolute;
  top:10px;
  left:10px;
  color:cyan;
  font-size:22px;
  text-shadow:0 0 10px cyan;
  z-index:10;
}

.controls{
  position:absolute;
  bottom:20px;
  width:100%;
  display:flex;
  justify-content:center;
  gap:20px;
}

.controls button{
  padding:18px;
  font-size:28px;
  border:none;
  border-radius:15px;
  background:#111;
  color:cyan;
  box-shadow:0 0 15px cyan;
}

@media(min-width:900px){
  .controls{
    display:none;
  }
}